* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 300ms ease-out;
}
body, .bg-over {
  width: 100%;
  height: 162vh;
}
a {
  text-decoration: none !important;
}
div.container-fluid {
    padding: 0 !important;
}
.title-search {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3vh;
}
.head-title {
  background: black;
  color: #fff;
  padding: 12px;
  text-align: center;
  font-size: 28px;
}
.navbar {
  height: 10vh;
  padding: 0 15vh !important;
  background: black !important;
}

.navbar .navbar-brand {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.navbar ul li {
  margin-right: 15%;
}
.navbar ul li:hover {
  font-size: 25px;
}
.navbar form input {
  background: #0071bc;
  border: 2px solid #fff;
  color: black;
  border-radius: 16px !important;
}
.navbar form input::placeholder {
  color: #fff;
}

.search form input {
  margin: 1.5rem auto;
  background: #e6e6e6;
  border-radius: 8px;
  border: 1px solid #1a1a1a;
  height: 3rem;
  width: 30%;
}
.container.search .results {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 5vh auto;
  /* background: #4d4d4d; */
}
.results .box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* width: 80%; */
  margin: 2vh auto;
  height: 230px;
  background-color: #fff;
  border-radius: 17px;
  box-shadow: 0px 0px 3px 1px #201e2b;
}
.results .box div.image {
  position: absolute;
  border-right: 5px solid #e6e6e6;
  top: 0;
  left: 0;
  width: 80px;
  height: 230px;
  background-color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.results .box .title {
  position: absolute;
  top: 10%;
  left: 90px;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}
.results .box .title a {
    color: black !important;
    text-decoration: underline;
}
.results .box .body {
    position: absolute;
    left: 85px;
    font-size: 16px;
    bottom: 25px;
    padding: 0 5px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5vh;
}

.paginationItem {
  background: #fff;
  border: 2px solid #666;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}
.blogPost-info {
  width: 80%;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blanchedalmond;
  height: 70vh;
  border-radius: 15px;
  padding: 20px;
}
.blogPost-info .title {
  font-size: 30px;
  margin-bottom: 5vh;
  font-weight: 600;
  text-align: center;
}
.blogPost-info .title a {
color: black !important;
}
.blogPost-info button {
margin-top: 5vh;
padding: 15px;
border-radius: 10px;
background-color: crimson;
color: #fff;
outline: none;
border: none;
cursor: pointer;
margin-right: 3vw;
}
.blogPost-info button a {
  color: #fff;
}
.blogPost-info button:hover {
background-color: unset;
color: black;
border: 2px solid crimson;
}
.loading {
  margin: 0;
  width: 100%;
  padding: 0;
}
.loading .circle {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  margin-top: 25vh;
  border: 4px solid #ccc;
  border-top-color: cornflowerblue;
  border-radius: 50%;
  animation: roller infinite 0.9s linear;
}
@keyframes roller {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 770px) {
  .navbar-nav {
    background-color: #bcc3c7;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .collapse .form-inline {
    visibility: hidden;
  }

  .navbar ul li a {
    color: #0071bc !important;
  }
  .results .box .title {
      font-size: 18px;
      left: 60px;
  }
  .results .box .body {
      font-size: 13px;
      left: 60px;
  }
  .results .box div.image {
      width: 50px;
  }
}
@media only screen and (max-width: 430px) {
  .container.search form input {
    width: 50%;
  }
  .container.search .results {
    flex-wrap: unset;
    flex-direction: column;
  }
  .results .box {
    width: 80%;
  }
  .results .box .body {
      bottom: 10px;
      font-size: 12px;
  }
  .title-search {
    flex-direction: column;
  }
} 